<div class="signup-component">
    <!-- ko with: scheduledAppointment -->
    <p data-bind="text: description"></p>
    <!-- /ko -->
    <table>
        <thead>
            <tr>
                <th></th>
                <!-- ko with: scheduledAppointment -->
                <!-- ko foreach: dates -->
                <th data-bind="date: date, attr: {colspan: timeslots().length}"></th>
                <!-- /ko -->
                <!-- /ko -->
                <th></th>
            </tr>
            <tr>
                <th></th>
                <!-- ko with: scheduledAppointment -->
                <!-- ko foreach: dates -->
                        <!-- ko foreach: timeslots -->
                        <th data-bind="text: time"></th>
                        <!-- /ko -->          
                <!-- /ko -->
                <!-- /ko -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: attendees -->
            <tr>
                <td><input data-bind="value: name, enable: isEditable()" /></td>
                <!-- ko foreach: selectedDates -->
                <!-- ko foreach: timeslots -->
                <td class="text-center">
                    <input type="checkbox" data-bind="checked: selected, enable: $parents[1].isEditable()" />
                </td>
                <!-- /ko -->
                <!-- /ko -->
                <td><input type="button" data-bind="click: update, visible: isEditable()" value="Save"/></td>
            </tr>
            <!-- /ko -->
            <tr data-bind="with: attendee, visible: canAddNewAttendee()">
                <td><input data-bind="value: name" placeholder="Write your name"/></td>
                <!-- ko foreach: selectedDates-->
                <!-- ko foreach: timeslots -->
                <td class="text-center">
                    <input type="checkbox" data-bind="checked: selected" />
                </td>
                <!-- /ko -->
                <!-- /ko -->
                <td><input type="button" value="Add" data-bind="click: $parent.save" /></td>
            </tr>            
        </tbody>
    </table>    
    <div style="display:none;" id="timedaytable">
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <!-- ko with: scheduledAppointment -->
                    <!-- ko foreach: dates()[0].timeslots -->
                    <th>Time</th>
                    <!-- /ko -->
                    <!-- /ko -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko with: scheduledAppointment -->
                <!-- ko foreach: dates -->
                <tr>
                    <td data-bind="date: date"></td>
                    <!-- ko foreach: timeslots -->
                    <td data-bind="text: time"></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko-->
                <!-- /ko-->
            </tbody>
        </table>
    </div>
</div>