<div class="signup-component">
    <table>
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: scheduledDates-->
                <th colspan="3" data-bind="date: date"></th>
                <!-- /ko -->
                <th></th>
            </tr>
            <tr>
                <th></th>
                <!-- ko foreach: scheduledDates-->
                        <!-- ko foreach: timeslots -->
                        <th data-bind="text: time"></th>
                        <!-- /ko -->          
                <!-- /ko -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: attendees -->
            <tr>
                <td><input data-bind="value: name, enable: isEditable()" /></td>
                <!-- ko foreach: selectedDates -->
                <!-- ko foreach: timeslots -->
                <td>
                    <input type="checkbox" data-bind="checked: selected, enable: $parents[1].isEditable()" />
                </td>
                <!-- /ko -->
                <!-- /ko -->
                <td><input type="button" data-bind="click: update, visible: isEditable()" value="Save"/></td>
            </tr>
            <!-- /ko -->
            <tr data-bind="with: attendee">
                <td><input data-bind="value: name" /></td>
                <!-- ko foreach: selectedDates-->
                <!-- ko foreach: timeslots -->
                <td>
                    <input type="checkbox" data-bind="checked: selected" />
                </td>
                <!-- /ko -->
                <!-- /ko -->
                <td><input type="button" value="Add" data-bind="click: $parent.save" /></td>
            </tr>            
        </tbody>
    </table>    
    
</div>