@{
    ViewBag.Title = "Schdo.com - Intelligent Appointment Scheduling";
}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Schdo</h1>
                    <p class="intro-text">Intelligent Appointment Scheduling for Outlook, no more rescheduling of meetings to find a date that fits everyone's schedule. Schdo makes it easy to find the perfect date and time for any appointment.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Schdo</h2>
            <p>Schdo is an Microsoft Outlook App and website, designed to intelligently help you organize appointments with multiple attendees. When planning an appointment with many attendees with busy schedules it can be difficult to find an open spot in everybody's calendar. Even more so if you are planning meeting with people outside your organization where you might not have access to thier calendar information.</p>
            <p>
                Schdo turns the appointment planning process around. Instead of trying to find a suitable date and time, that gets rescheduled a number of times, you send a simple poll to all attendees that allows them to provide feedback on dates and times where they are available. As the appointment organizer you decide which data and times you want feedback on, and everyone invited can always see each others answers. When a suitable date and time have been found, you can go ahead an book the meeting.
            </p>  
            <h2>How to send a new Schdo</h2>         
            <h2>How to answer a Schdo</h2>
            <ul>
                <
            </ul>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="install" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Install Schdo</h2>
                <p>You can download Schdo - Intelligent Appointment Scheduling for Outlook for free from the Microsoft Office Store.</p>
                <a href="https://store.office.com/appshome.aspx?ui=en-US&rs=en-US&ad=US&productgroup=Outlook" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="support" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Support</h2>
            <p>If you have any problems with Schdo.com don't hesitate to contact me. Feel free to contact me if you have questions regarding the application or ideas for improvements.</p>
            <p>
                <a href="mailto:feedback@schdo.com">feedback@schdo.com</a>
            </p>

            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/simped" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/sjkp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>