<table>
    <colgroup>
        <col width="100px" />
        <col width="100px" />
        <col width="100px" />
        <col width="100px" />

    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Fri <br />(19/8) <br />18-20</th>
            <th>Sat <br />(20/8) <br />18-20</th>
            <th>Sun <br />(21/8) <br />18-20</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Simon</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
            <td align="center" style="background-color:lightpink">No</td>
        </tr>
        <tr>
            <td>Simon 1</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
            <td align="center" style="background-color:lightpink">No</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
        </tr>
        <tr>
            <td>Simon 2</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
            <td align="center" style="background-color:lightgreen">Yes</td>
        </tr>
        <tr>
            <td colspan="4">
                <hr />
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td align="center" style="background-color:lightgreen">3</td>
            <td align="center" style="background-color:lightpink">2</td>
            <td align="center" style="background-color:lightpink">2</td>
        </tr>
    </tbody>
</table>