    <table style="font-family: Segoe WP, Segoe UI, Arial, sans-serif;font-size: 15px;color: #262626;">
        <tr style="background: #2b94de;color: #fff;">
            <td><div style="padding: 5px;"><h2>Feedback Recieved</h2></div></td>
        </tr>
        <tr>
            <td>A person provided feedback to your appointment:</td>
        </tr>
        <tr>
            <td>
                {0}
            </td>
        </tr>
        <tr>
            <td><h3>Attendees</h3></td>
        </tr>
        <tr>
            <td>
                {1}
            </td>    
        </tr>
            <td style="padding:10px;"></td>
        </tr>        
        <tr style="background: #2b94de;color: #fff;padding: 5px;">
            <td><a style="color:white;" href="http://schdo.com">schdo.com</a></td>
        </tr>
    </table>
